<%= form.inputs do -%>
  <%= form.input :title -%>
  <%= form.input :body, :hint => "<a href='http://textile.thresholdstate.com/'>Textile Anleitung</a>. Benutze Ctrl+E um zwischen dem Vorschau und Bearbeitungsmodus zu wechseln.".html_safe -%>
  <%= form.input :tag_list, :as => 'string', :required => false, :hint => 'Comma separated: ruby, rails&hellip;'.html_safe -%>
<% end -%>
<%= form.inputs do -%>
  <%= form.input :published_at_natural, :label => 'Published at', :as => 'string', :hint => 'Example: jetzt, gestern, vor einer Stunde, '.html_safe + link_to("more&hellip;".html_safe, "http://chronic.rubyforge.org/") -%>
  <%= form.input :slug, :hint => "Leer lassen für einen automatisch generierten Titelauszug." -%>
  <%= form.input :minor_edit, :as => 'boolean', :hint => 'Kleinere Textänderungen werden nicht angezeigt. Benutzbar um schreibfehler zu beheben.' unless @post.new_record? -%>
<% end -%>
