<% content_for :page_title do -%>
  <%= post_title @post -%>
<% end -%>

<%= render @post %>

<ol class="commentlist">
  <% @post.approved_comments.each do |comment| -%>
    <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= comment.id %>">
      <%= render comment %>
    </li>
  <% end -%>
</ol>

<div class="related">Suchst du mehr? Wirf ein blick in das <%= link_to 'Archiv', archives_path %>.</div>

<h2>Kommentar erstellen</h2>
<% unless @comment.errors.empty? -%>
<div class="errors">
  <h3>Kommentar nicht hinzugefügt!</h3>
  <ul>
    <% @comment.errors.sort_by(&:first).each do |error| -%>
      <li><%= format_comment_error(error) %></li>
    <% end -%>
  </ul>
</div>
<% end -%>

<div>
  <%= form_for [@post, @comment] do |form| -%>
    <p>
      <%= form.text_field 'author' %>
      <small>Name oder <%= link_to 'OpenID', 'http://openidexplained.com/' %> (benötigt)</small>
    </p>
    <p>
      <%= form.text_area 'body' %><br/>
      <small>(<%= link_to 'Lesstile aktiviert', 'http://lesstile.rubyforge.org' %>; benutze --- für code blocks.)</small>
    </p>
    <p><%= form.submit 'Kommentar hinzufügen' %></p>
  <% end -%>
</div>
